
@font-face{
    font-family: "Nexa";
    src: url('./assets/NexaBold.otf');
}

$mainDark:#02111b;
$mainLight:#F2F2F2;
$horizontalPadding:40px;
$maxWidth:1620px;

body {
    margin: 0 auto;
    max-width: $maxWidth;
    background-color: $mainDark;
}

.lightBackground{ background-color: $mainLight; color:$mainDark}
.darkBackground{ background-color: $mainDark; color:$mainLight}

.loaderContainer svg{
    width:80px;
    height: 80px;
    position: absolute;
    left: 50%;
    right: 50%;
    top:30%;
    stroke:white;
    bottom: 50%;
}

#lowercaseY {
    stroke-dasharray: 1000;
    stroke-width: 2.5px;
    animation: animateMe 10s;
    stroke-dashoffset: 1000;
}
  
@keyframes animateMe {
    0% { stroke-dashoffset: 1000;}
    100% { stroke-dashoffset: 0;}
}

.darkToggle{
    background-color: white;
    width: 50px;
    height: min-content;
    padding: 0px;
}

.darkIcons{
    vertical-align: middle;
}

.iconsContainer{
    background-color: $mainDark;
}

.mainContentBody {
    animation: fadeIn cubic-bezier(0.24, -0.27, 0.6, 1.27) 4s;
    // padding-top: 50px;
    // animation: fadeIn ease 4s;
    background-color: yellow;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
.navbar{
    font-family: 'Monda',sans-serif;
    display: flex;
    justify-content: flex-end;
    // color: $mainLight;
    align-items: center;
    font-size: 10px;
    margin-right: $horizontalPadding;
}

.navTitles{
    padding-left: 40px;
    // color: $mainLight;
    text-decoration: none;
}
.topBar a{
    // color: $mainLight;
    text-decoration: none;
}


.topBar{
    top:0;
    width: 100%;
    // opacity: 80%;
    position: fixed;
    max-width: $maxWidth;
    // background-color: $mainDark;
    padding-top: $horizontalPadding;

    height: 100px;
    display: flex;
    justify-content: space-between;
}
.animLogo{
    // width: 100%;
    position: relative;
    margin-left:$horizontalPadding;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.logo{
    // border-right: 4px solid white;
    padding-right: 10px;
    // background-color: $mainDark;
    z-index: 2;
}

.name{
    margin-right:20px;
}

@mixin logoText{
    font-size: 15px;
    z-index: 0;
    color: $mainLight;
    text-align: left;
    font-family: 'Monda',sans-serif;
    padding-left: 10px;
    margin: 0;
}

.logoText{
    @include logoText();
    animation: slideIn 2s ;
}
.logoText2{
    @include logoText();
    animation-delay: 2s;
    animation: slideIn 3s ;
}

@keyframes slideIn{
    0% { opacity: 0; -webkit-transform: translateX(-70%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

.developer{
    color: #feffea;
    font-size: 80px;
    // margin: 50px;
    font-family: Nexa,sans-serif;
}
.commentedOut{
    color: grey !important;
}
.headerTitle{
    margin-top: 200px;
    margin-left: $horizontalPadding;
}

.wave{
    max-width: $maxWidth;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
@media screen and (max-width:1000px) {
    .aboutSection{
        background-color: $mainLight;
        color: $mainDark;
        padding: 0 $horizontalPadding;
        text-align: center;
        display: grid;
        // grid-template-rows: 1fr;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
    }
}

@media screen and (min-width:1000px) {
    .aboutSection{
        background-color: $mainLight;
        color: $mainDark;
        padding: 0 $horizontalPadding;
        text-align: center;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 1fr;
        
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
    }
}


.aboutHeading{
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0px;
    grid-area: 1 / 1 / 2 / 2;
    color: $mainDark;
    
    font-size: 50px;
    font-family: 'Monda',sans-serif;
}

.selfDiv{
    margin: auto;
}
.yoursTruly{
    max-width: 300px;
    border-radius: 50%;
    grid-area: 1 / 2 / 2 / 3;
    padding: 15px;
    background-color: $mainDark;
}

.aboutContent{
    margin-top: 0;
    color: $mainDark;
    font-family: 'Monda',sans-serif;
    font-size: 20px;
    text-align: justify;
}

